services:
  dev:
    restart: always
    # build: .
    image: ${project_name}:${version}
    container_name: ${project_name}
    working_dir: /${project_name}/
    volumes:
    - /dev/shm/:/dev/shm/
    - ../:/${project_name}/
    - ${HOME}/.gitconfig:/etc/gitconfig
    network_mode: host
